* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.navigation {
    background-color: var(--main-color);
    display: var(--flexbox);
    justify-content: center;
    gap: 24px;
    opacity: var(--nav-opacity);
    padding: var(--nav-padding) 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation-list, 
.list-item-container {
    display: var(--flexbox);
    gap: 16px;
}

.hovered {
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: var(--nav-padding) 10px;
}

.hovered:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.logo-container {
    align-items: center;
    color: white;
    display: var(--flexbox);
    pointer-events: var(--none);
}

.logo-icon {
    height: 40px;
    width: auto;
}

.link {
    color: white;
    text-decoration: var(--none);
}

.buttons-container {
    display: var(--flexbox);
    gap: 10px;
    min-width: max-content;
}

.login {
    background-color: transparent;
    border: var(--none);
}

.sign-up {
    border: var(--none);
    border-radius: 6px;
    cursor: pointer;
    padding: var(--nav-padding);
}

.sign-up a {
    color: var(--main-color);
    font-size: 15px;
    font-weight: bold;
}

.sign-up:hover {
    opacity: var(--nav-opacity);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}