@media (max-width: 1178px) {
    .games-list {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .options {
        width: 190px;
    }
}

@media (max-width: 1090px) {
    .container {
        flex-direction: column;
    }

    .games-list-container,
    .recent-games-container {
        margin: 0 12px;
        width: max-content;
    }

    .games-list {
        grid-template-columns: repeat(7, 1fr);
    }

    .recent-games-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1050px) {
    .games-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 912px) {
    .games-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 760px) {
    .games-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 620px) {
    .games-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .list-container {
        align-items: baseline;
        flex-direction: column;
    }

    .list {   
        flex-direction: column;
    }

    .game-select {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .games-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 370px) {
    .games-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .options {
        font-size: 12px;
        width: min-content;
    }

    .pages-container {
        display: none;
    }
}