@media (max-width: 1178px) {
    .games-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1090px) {
    .container {
        flex-direction: column;
    }

    .games-list-container,
    .recent-games-container {
        margin: 0 12px;
    }

    .games-list {
        grid-template-columns: repeat(7, 1fr);
    }

    .recent-games-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1050px) {
    .games-list {
        grid-template-columns: repeat(6, 1fr);
    }
}