/* @media (max-width: 1070px) {
    
    .dropdown-menu {
        width: 10vw;
    }

    .dropdown-list {
        font-size: 16px;
    }

    .dropdown-image {
        height: 20px;
        width: 20px;
    }
} */

@media (max-width: 1070px) {
    .navigation {
        padding-inline: 8px;
        justify-content: space-between;
    }

    .search-bar {
        display: none;
    }

    /* .dropdown-menu {
        width: max-content;
    }

    .dropdown-list {
        padding: 6px 20px 6px 10px;
    } */
}

@media (max-width: 746px) {
    .logo-container h3,
    .list-item-container {
        display: var(--none);
    }

    /* .dropdown-list {
        font-size: 14px;
    } */
}