.recent-games-container {
    align-self: flex-start;
    background-color: rgb(27, 20, 41);
    border-radius: 16px;
    width: 380px;
}

.recent-games-category {
    padding: 14px;
}

.recent-games-list {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.recent-games-list:nth-child(even) {
    background-color: rgb(39, 32, 51);
}

.recent-games-list:nth-child(:last-child):hover {
    border-radius: 16px;
}

.recent-games-list:hover {
    background-color: rgba(113, 106, 125, 0.4);
}

.recent-game-details {
    align-items: center;
    display: flex;
    gap: 6px;
}

.recent-game-image {
    border-radius: 16px;
    height: 50px;
    object-fit: contain;
    width: 50px;
}

.recent-game-title {
    color: rgb(73, 182, 151);
    font-size: 14px;
    width: 16vw;
}

.recent-active-players {
    align-items: center;
    color: rgb(73, 182, 151);
    display: flex;
    flex-direction: column;
}

.release-date,
.players {
    color: rgba(209, 213, 219, .8);
    font-size: 13px;
}