.background {
    background-image: linear-gradient(30deg, #199C77 12%, transparent 12.5%, transparent 87%, #199C77 87.5%, #199C77), linear-gradient(150deg, #199C77 12%, transparent 12.5%, transparent 87%, #199C77 87.5%, #199C77), linear-gradient(30deg, #199C77 12%, transparent 12.5%, transparent 87%, #199C77 87.5%, #199C77), linear-gradient(150deg, #199C77 12%, transparent 12.5%, transparent 87%, #199C77 87.5%, #199C77), linear-gradient(60deg, #199C7777 25%, transparent 25.5%, transparent 75%, #199C7777 75%, #199C7777), linear-gradient(60deg, #199C7777 25%, transparent 25.5%, transparent 75%, #199C7777 75%, #199C7777);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    height: 100%;
    opacity: 0.05;
    transform: scale(3);
    position: fixed;
    width: 100%;
    z-index: -1;
}

.about-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20vh;
}

.title-container,
.explain-container {
    margin-bottom: 20vh;
}

.title-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.title-logo {
    height: 74px;
    width: 74px;
}

.title {
    font-size: 1.6rem;
}

.title-text,
.info-text {
    font-size: 1.6rem;
    text-align: center;
    width: 52vw;
}

.info-text {
    color: rgba(209, 213, 219, 0.8);
    font-size: 1.3rem;
}

.explanation-content,
.stats-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video-example {
    border: 10px solid #199C77;
    border-radius: 8px;
    margin-top: 4vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 3vh;
}

.grid-content {
    align-items: center;
    background-color: rgb(37, 47, 55);
    border-radius: 10px;
    box-shadow: inset 0 2px 0 #199C77;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
}

.stats {
    font-size: 1.8rem;
}

.stats-text {
    color: rgba(209, 213, 219, 0.8);
}