body {
    background-color: rgb(17, 22, 24);
    color: white;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 40vh;
}

.games-list-container {
    background-color: rgb(27, 20, 41);
    border-radius: 16px;
    padding: 40px;
}

.list-container {
    display: flex;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
}

.options {
    background-color: black;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px;
    padding-right: 12px;
    width: 20vw;
}

.games-list {
    display: flex;
    gap: 16px;
}

.game-image {
    border-radius: 10px;
    height: 200px;
    width: 140px;
}

.game-content {
    position: relative;
}

.release-year {
    font-size: 12px;
    background-color: black;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.game-title {
    border-radius: 4px;
    bottom: 6px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    left: 4px;
    position: absolute;
}

.details-content {
    background-color: rgb(37, 47, 55);
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -4px;
    padding: 6px;
}

.active-players {
    color: rgba(209, 213, 219, .8);
    font-size: 13px;
}

.game-platform-container {
    display: flex;
    gap: 10px;
}

.game-platform {
    background-color: rgb(23, 87, 24);
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 6px 3px 6px;
}