body {
    background-color: rgb(17, 22, 24);
    color: white;
}

.container {
    align-items: center;
    background-color: rgb(27, 20, 41);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 40vh;
}

.games-list {
    background-color: black;
}

.game-image {
    border-radius: 10px;
    height: 200px;
}

.game-content {
    position: relative;
}

.top-info {
    top: 0;
    position: absolute;
    right: 0;
}