@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        /* outline: 1px solid red; */
    }

    body {
        background-color: rgb(17, 22, 24);
        color: white;
    }
}

@layer components {
    .hovered {
        @apply rounded-md cursor-pointer text-white text-lg py-1 px-2
    }

    .hovered:hover {
        @apply bg-[#ffffff1a]
    }

    .options {
        @apply bg-black rounded-md cursor-pointer mt-2 p-2 w-52;
    }    

    .game-content {
        @apply relative
    }

    .game-content::after {
        box-shadow: inset 0 -20px 16px black;
        content: "";
        position: absolute;
        inset: 0;
    }

    .game-platform {
        @apply bg-[#175718] font-bold rounded-lg text-xs py-1 px-1;
    }

    .game-other-platforms-long,
    .game-other-platforms-short {
        @apply absolute bg-[#000000e6] bottom-7 font-normal -left-7 opacity-0 p-2.5 pointer-events-none rounded-lg text-center text-sm w-24 z-20;
        transition: opacity 300ms;
    }

    .game-other-platforms-short {
        @apply -left-6 p-1.5 w-20;
    }

    .game-platform:hover {
        .game-other-platforms-long,
        .game-other-platforms-short {
            @apply opacity-100;
        }
    }

    .release-date,
    .players {
        @apply text-[#d1d5dbcc] text-sm;
    }
}