@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        /* outline: 1px solid red; */
    }
}

@layer components {
    .hovered {
        @apply rounded-md cursor-pointer text-white text-lg py-1 px-2
    }

    .hovered:hover {
        @apply bg-[#ffffff1a]
    }
}