@media (max-width: 1190px) {
    .navigation {
        justify-content: space-around;
    }

    .list {
        font-size: 12px;
    }

    .search-icon {
        margin: 0;
    }

    .search-bar {
        display: none;
    }

    .dropdown-menu {
        width: max-content;
    }

    .dropdown-menu-list {
        padding: 6px 20px 6px 10px;
    }
}

@media (max-width: 800px) {
    .navigation {
        justify-content: space-evenly;
    }
}