* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: rgb(25, 156, 119);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    align-items: center;
    display: flex;
    gap: 16px;
    list-style: none;
}

.hovered {
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.hovered:hover,
.notification-icon:hover,
.search:hover,
.profile-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo-icon {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
}

.logo {
    height: 48px;
    width: 48px;
}

.search-icon {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 0 50px;
    position: relative;
}

.search {
    border-radius: 8px;
    cursor: pointer;
    height: 26px;
    padding: 6px;
    vertical-align: middle;
}

.search-bar {
    background-color: rgba(50, 50, 50, 0.3);
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 8px 8px 8px 14px;
    width: 400px;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.notification-icon {
    position: relative;
    padding: 10px 8px 4px 8px;
}

.notification-icon:hover .notification-tooltip {
    opacity: 1;
}

.notification-tooltip {
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    left: -26px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 40px;
    transition: opacity 800ms;
}

.notification-icon,
.profile-icon {
    border-radius: 6px;
    cursor: pointer;
}

.notification {
    height: 20px;
    width: 20px;
}

.profile-icon {
    align-items: center;
    display: flex;
    gap: 12px;
    padding: 8px;
    position: relative;
}

.profile {
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.dropdown-menu {
    background-color: black;
    border-radius: 10px;
    color: white;
    display: none;
    left: 0;
    gap: 10px;
    padding: 0 6px;
    position: absolute;
    pointer-events: none;
    top: 48px;
    width: 10vw;
}

.dropdown-menu-list {
    display: flex;
    flex-direction: column;
    pointer-events: fill;
    border-radius: 10px;
    padding: 10px;
}

.dropdown-menu-list:hover {
    background-color: rgba(23, 140, 107);
}

.profile-icon::selection .dropdown-menu {
    display: block;
}