* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: rgb(25, 156, 119);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    align-items: center;
    display: flex;
    gap: 16px;
    list-style: none;
}

li {
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.hovered,
.notification-icon {
    padding: 10px;
}

.hovered:hover,
.notification-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo-icon {
    align-items: center;
    display: flex;
}

.logo {
    height: 48px;
    width: 48px;
}

.search-icon {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    
}

.search-icon input {
    background-color: rgba(175, 175, 175, 0.5);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 400px;
}

.search-icon input:hover {
    background-color: rgba(175, 175, 175, 0.8);
}

.search-bar-placeholder {
    display: flex;
    flex: 1;
    font-size: 16px;
    gap: 10px;
}

.search-bar-shortcut {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    font-size: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.notification-icon {
    padding-bottom: 2px;
}

.notification {
    height: 20px;
    width: 20px;
}