.recent-games-container {
    background-color: rgb(27, 20, 41);
    border-radius: 16px;
    align-self: flex-start;
    padding: 20px;
    width: 27vw;
}

.recent-games-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recent-games-list {
    color: rgb(73, 182, 151);
    display: flex;
    justify-content: space-between;
}

.recent-game-details {
    display: flex;
    gap: 10px;
}

.recent-game-image {
    border-radius: 10px;
    height: 50px;
    object-fit: contain;
    width: 50px;
}

.release-date {
    color: rgba(209, 213, 219, .8);
    font-size: 13px;
}